<style>p{
  margin:5px;
}</style>
<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b> </p> 
                <br> 
             <p>ou have received a new order and your <b>  order# is</b> <%= token %> .</p>
                <br>
                <p>Thanks,</p>
                <p><b>Caterdaay.com</b></p>
        </div>
    </div>
</div>
